@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
}



<section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url(/assets/images/big_image_1.jpg);">
	<div class="container">
		<div class="row align-items-center site-hero-inner justify-content-center">
			<div class="col-md-12 text-center">

				<div class="mb-5 element-animate">
					<h1>Giriş Yapın</h1>

				</div>

			</div>
		</div>
	</div>
</section>


<br></br>
<div class="container-sm">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<section>
				<form id="account" method="post">
					<h2>Hesabınıza Giriş  Yapın</h2>
					<hr />
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-floating">
						<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
						<label asp-for="Input.Email" class="form-label"></label>
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<div class="form-floating mt-3">
						<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
						<label asp-for="Input.Password" class="form-label"></label>
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div>
						<div class="checkbox">
							<label asp-for="Input.RememberMe" class="form-label">
								<input class="form-check-input" asp-for="Input.RememberMe" />
								@Html.DisplayNameFor(m => m.Input.RememberMe)
							</label>
						</div>
					</div>
					<div>
						<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Giriş</button>
						<span>
							@* <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a> *@
							<a class="btn btn-sm" asp-area="Identity" asp-page="/Account/Register">Kayıt Ol</a>
						</span>
					</div>
					
				</form>
			</section>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
