@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using VeynVoyage.Areas.Admin.ViewModel;


@model CreateUserViewModel



<form asp-action="CreateUser">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RoleName">Rol</label>
        <select asp-for="RoleName" asp-items="Model.Roles"></select>
        <span asp-validation-for="RoleName"></span>
    </div>
    <button type="submit">Kullanıcı Oluştur</button>
</form>
