@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using VeynVoyage.Areas.Admin.ViewModel;
@model EditUserViewModel


@{

    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="container mt-5">
<form asp-action="EditUser">
    <input asp-for="Id" type="hidden" />
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedRoles">Roller</label>
        <select asp-for="SelectedRoles" asp-items="Model.AvailableRoles" class="form-control" multiple="multiple"></select>
        <span asp-validation-for="SelectedRoles" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Güncelle</button>
</form>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }


</div>